<% 
    if (Array.isArray(opt.products) && opt.products.length) {
        const search = new _.EcomSearch()
        const productsIds = opt.products.map(({ product_id }) => product_id)
        await search.setProductIds(productsIds).fetch(true)
        let items = search.getItems().filter(item => _.ecomUtils.inStock(item))
        const promises = []
        const { subscriptions } = _
        items = items.map(item => {
          const productConfig = opt.products.find(({product_id}) => product_id === item._id)
          if (productConfig && productConfig.product_id) {
            item['end'] = productConfig.end
            item['html'] = productConfig.html
          }
          return item
        })
        items.sort((a, b) => {
            if (productsIds.indexOf(a._id) > productsIds.indexOf(b._id)) {
                return 1
            }
            return -1
        })

    %>

<section
    class="products-carousel apoio aside"
    data-size="<%= items.length %>"

  >
  <% if (opt.title) { %>
    <h4 class="products-carousel__title">
      <% if (opt.link) { %>
        <a href="<%= opt.link %>">
          <%= opt.title %>
        </a>
      <% } else { %>
        <span>
          <%= opt.title %>
        </span>
      <% } %>
    </h4>
  <% } %>
  <article class="search-engine__retail">
    <div class="row">
       <% for (let i = 0; i < items.length; i++) { %>
           <div class="col-12 col-md-4 col-lg-4">
            <%- await include('@/sections/inc/product-item-apoio', {
                _, opt: { item: items[i] }
            }) %>
           </div>
       <% } %>
    </div>
  </article>
  </section>
<% } %>
<script>
  var apoioElement = document.querySelector('.apoio.aside');
  var extraPageElement = document.querySelector('.extra-page');

// Check if both elements exist on the page
if (apoioElement && extraPageElement) {
    // Append the apoio element inside the extra-page element
    extraPageElement.appendChild(apoioElement);
    extraPageElement.classList.add('aside-grid')
}
</script>
  