<%

const { img, link, meta, end, enable_share } = opt
let amount = 0
let quantity = 0

const {data : data} =  await _.axios.get('https://us-central1-ecom-ghanor.cloudfunctions.net/app/4566/subscriptions', {
  headers: {
    'x-server-token': '423B726488D7972D6A2FABDC6C6E6'
  }
})

_.subscriptions = data
amount = data.data && data.data.total
quantity = data.data && data.data.quantity
const percent = Math.round((amount * 100) /meta)
if ((img || link) && meta > 0) {
  %>
  <div class="container">
    <div class="row">
    <div class="col-12 col-md-8">
      <% if (img) { %>
        <%- await include('@/sections/inc/banner', { _, opt: { img } }) %>
      <% } else if (link) { %>
        <div id="video-ghanor" class="embed-responsive embed-responsive-16by9"> <iframe class="embed-responsive-item" src="<%- link %>"></iframe> </div>
      <% } %>
    </div>
    <div class="col-12 col-md-4">
      <h2 id="ghanor-block"> <%= _.ecomUtils.formatMoney(amount) %></h2>
      <span font-weight="medium" color="white" class="sc-de075f52-1 bnnsWj">arrecadados da meta de <%= _.ecomUtils.formatMoney(meta) %></span>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: <%= percent %>%" aria-valuenow="<%= percent %>" aria-valuemin="0" aria-valuemax="100">
        </div>
      </div>
      <p><%= percent %>%</p>
      <% if (quantity && end) { %>
        <%- await include('@/sections/support-with-data', { _, opt: { quantity, end } }) %> 
      <% } %>
      
      <% if (enable_share) { %>
        <%- await include('@/sections/share', { _, opt: { enable_share } }) %>
      <% } %>
    </div>
  </div>
  </div>
<% } %>
