<%
/*
load menu options and contacts from content
*/
const menu = _.cms('menu') || {}
const contacts = _.cms('contacts') || {}

// some social networks handled by contacts
const networksWithColors = [
  ['facebook', '#3B5998'],
  ['youtube', '#FF0000'],
  ['instagram', '#E1306C'],
  ['twitter', '#1DA1F2']
]

// start grouping categories by parent slug
const allCategories = menu.alphabetical_order
  ? _.lodash.sortBy(_.categories, ['name'])
  : _.categories

const categoryParents = _.lodash.groupBy(allCategories, ({ parent }) => {
  return !parent || !parent.slug ? '_' : parent.slug
})

const getSubmenuId = slug => `a-${slug.replace(/\//g, '_')}`

const mainCategories = categoryParents._
if (mainCategories) {
  if (Array.isArray(menu.sort_categories)) {
    // reorder first level categories list
    for (let i = menu.sort_categories.length - 1; i >= 0; i--) {
      const slug = menu.sort_categories[i]
      const categoryIndex = mainCategories.findIndex(category => category.slug === slug)
      if (categoryIndex > -1) {
        const category = mainCategories[categoryIndex]
        mainCategories.splice(categoryIndex, 1)
        mainCategories.unshift(category)
      }
    }
  }
}
%>

<aside id="menu" class="menu shadow">
  <nav class="accordion" id="accordion-menu">
    <button
      class="menu__btn menu__btn--close btn"
      type="button"
      onclick="toggleSidenav()"
      aria-label="Toggle Side Navigation"
    >
      <i class="i-times"></i>
    </button>
    
    <% for (const slug in categoryParents) { %>
      <% if (categoryParents.hasOwnProperty(slug)) { %>
        <% const categories = categoryParents[slug] %>
        <% const isMainLevel = slug === '_' %>
        
        <div class="accordion-item">
          <% if (isMainLevel) { %>
            <!-- CATEGORIAS PRINCIPAIS (sempre abertas) -->
            <div id="categories-nav" class="accordion-collapse collapse show" aria-labelledby="categories-header" data-bs-parent="#accordion-menu">
              <div class="accordion-body menu__list p-0">
                <!-- SEMPRE VISÍVEIS -->
                <a href="/camiseta" class="menu__item d-block p-3">Camiseta</a>
                <a href="/camisetas-infantis" class="menu__item d-block p-3">Camisetas Infantis</a>
                <a href="/estampas" class="menu__item d-block p-3">Estampas</a>
                
                <!-- COM SUBCATEGORIAS (dentro da mesma seção principal) -->
                <% const aprenda = _.categories.find(cat => cat.slug === 'aprenda-se-divertindo') || { name: 'Aprenda se Divertindo' } %>
                <button class="menu__item accordion-button collapsed d-block p-3 w-100 text-left border-0 bg-transparent" 
                        type="button" 
                        data-bs-toggle="collapse" 
                        data-bs-target="#sub-aprenda" 
                        aria-expanded="false">
                  <%= aprenda.name %>
                </button>
                <div id="sub-aprenda" class="accordion-collapse collapse">
                  <div class="accordion-body p-0">
                    <% const subAprenda = categoryParents['aprenda-se-divertindo'] || [] %>
                    <% subAprenda.forEach(sub => { %>
                      <a href="/<%= sub.slug %>" class="menu__item d-block p-3 ps-5">• <%= sub.name %></a>
                    <% }) %>
                  </div>
                </div>
                
                <% const colecoes = _.categories.find(cat => cat.slug === 'colecoes') || { name: 'Coleções' } %>
                <button class="menu__item accordion-button collapsed d-block p-3 w-100 text-left border-0 bg-transparent" 
                        type="button" 
                        data-bs-toggle="collapse" 
                        data-bs-target="#sub-colecoes" 
                        aria-expanded="false">
                  <%= colecoes.name %>
                </button>
                <div id="sub-colecoes" class="accordion-collapse collapse">
                  <div class="accordion-body p-0">
                    <% const subColecoes = categoryParents['colecoes'] || [] %>
                    <% subColecoes.forEach(sub => { %>
                      <a href="/<%= sub.slug %>" class="menu__item d-block p-3 ps-5">• <%= sub.name %></a>
                    <% }) %>
                  </div>
                </div>
                
                <% const parceiros = _.categories.find(cat => cat.slug === 'parceiros') || { name: 'Parceiros' } %>
                <button class="menu__item accordion-button collapsed d-block p-3 w-100 text-left border-0 bg-transparent" 
                        type="button" 
                        data-bs-toggle="collapse" 
                        data-bs-target="#sub-parceiros" 
                        aria-expanded="false">
                  <%= parceiros.name %>
                </button>
                <div id="sub-parceiros" class="accordion-collapse collapse">
                  <div class="accordion-body p-0">
                    <% const subParceiros = categoryParents['parceiros'] || [] %>
                    <% subParceiros.forEach(sub => { %>
                      <a href="/<%= sub.slug %>" class="menu__item d-block p-3 ps-5">• <%= sub.name %></a>
                    <% }) %>
                  </div>
                </div>
              </div>
            </div>
          <% } else { %>
            <!-- OUTRAS SUBCATEGORIAS -->
            <div id="<%= getSubmenuId(slug) %>" class="accordion-collapse collapse" aria-labelledby="<%= getSubmenuId(slug)-header %>" data-bs-parent="#accordion-menu">
              <div class="accordion-body menu__list p-0">
                <% categories.forEach(category => { %>
                  <a href="/<%= category.slug %>" class="menu__item d-block p-3"><%= category.name %></a>
                <% }) %>
              </div>
            </div>
          <% } %>
        </div>
      <% } %>
    <% } %>
  </nav>

  <footer class="menu__footer">
    <% if (menu.phone_wpp) { %>
      <div class="menu__phone">
        <% if (contacts.whatsapp) { %>
          <a
            href="javascript:;"
            target="_blank"
            rel="noopener"
            class="whatsapp-link"
            data-tel="<%= contacts.whatsapp.replace(/\D/g, '') %>"
          >
            <i class="i-whatsapp mr-1"></i>
            <%= contacts.whatsapp %>
          </a>
        <% } else if (contacts.phone) { %>
          <a
            href="tel:+<%= contacts.phone.replace(/\D/g, '') %>"
            target="_blank"
            rel="noopener"
          >
            <i class="i-phone mr-1"></i>
            <%= contacts.phone %>
          </a>
        <% } %>
      </div>
    <% } %>
    
    <% if (menu.socials) { %>
      <div class="menu__social">
        <% networksWithColors.forEach(([network, color]) => { %>
          <% if (contacts[network]) { %>
            <a
              href="<%= contacts[network] %>"
              target="_blank"
              rel="noopener"
              aria-label="<%= network %>"
              style="color: <%= color %>"
            >
              <i class="i-<%= network %>"></i>
            </a>
          <% } %>
        <% }) %>
      </div>
    <% } %>
  </footer>
</aside>
